<header>
    
    <h1>MEME THINGY</h1>
  
    <nav>
      <div >
      <div >
        <a href="/">Home</a>
        <a href="/new"> Search for new memes</a>
      </div>
      </div>
    </nav>
    
  
  </header>