<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Forms and Such</title>
</head>

<body>
  
  <%- include('../pages/partials/header') %>

  <main>
    <p>YOU HAVE REACHED THIS PAGE IN AN ERROR</p>
  </main>
  
  <%- include('../pages/partials/footer') %>

</body>

</html>